<!DOCTYPE html>
<html lang="{{#if page.lang}}{{page.lang}}{{else}}{{site.lang}}{{/if}}" class="no-js">
<head>

	<meta charset="utf-8">
	{{#unless site.env.production}}
		<meta name="robots" content="noindex, nofollow">
	{{/unless}}
	{{#block "meta-tags"}}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{#if page.description}}
			<meta name="description" content="{{page.description}}" class="swiftype" data-type="text">
		{{/if}}
	{{/block}}
	<title>{{page.title}}</title>

	{{! preconnect to CDNs to set up DNS/TCP/TLS connections ahead of time}}
	{{#block "hints"}}
		{{#if site.env.production}}
			<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
		{{/if}}
		<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
	{{/block}}

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.png" sizes="32x32">
	<link rel="icon" href="/favicon-64.png" sizes="64x64">
	<link rel="icon" href="/favicon-128.png" sizes="128x128">
	<link rel="icon" href="/favicon-256.png" sizes="256x256">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="/apple-touch-icon-1024x1024.png">
	<link rel="mask-icon" href="/mask-icon.svg" color="#1D2737">

	{{#block "styles"}}
		<link rel="stylesheet" href="/asset/stylesheet/common.css">
	{{/block}}

	{{! script tags in scripts-head should be async}}
	{{#block "scripts-head"}}
	{{/block}}

	{{#if site.env.production}}
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MK84QFF');</script>
	<!-- CSP Hash SHA256 0Xlex5b7R2NOFa/U+7SphlZLqZdGWLOGrixUf1juuBw= -->
	<!-- Note, CSP Hash is white-space and case sensitive -->
	<!-- End Google Tag Manager -->
	{{/if}}

</head>
<body{{#unless site.env.production}} class="cso-dev"{{/unless}}>

	{{#if site.env.production}}
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MK84QFF"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	{{/if}}

	{{#unless site.env.production}}
		<div class="banner--dev">
			Development version and work in progress. Might not work properly
			and could go down at any time. For the real thing,
			<span class="nowrap">
				visit
				<a href="{{site.base.url}}">www.cio-cisointerchange.org</a>
				instead.
			</span>
		</div>
	{{/unless}}

	<div class="cso-site-container">
		<div class="cso-header-wrapper">
			<div class="cso-header-container">
				<button class="cso-mobile-menu js-menu">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="14"><g class="cso-mobile-menu__svg-fill"><rect width="24" height="2" rx="1"/><rect width="24" height="2" y="6" rx="1"/><rect width="24" height="2" y="12" rx="1"/></g></svg>
				</button>
				<a href="/" class="cso-header-logo">
					<img src="/asset/image/cio-ciso-logo-red.svg" class="cso-logo-dark" width="166" height="47" alt="CIO / CISO Interchange">
					<img src="/asset/image/cio-cisointerchange-logo.svg" class="cso-logo-light" width="222" height="63" alt="CIO / CISO Interchange">
				</a>
				<div class="cso-header__cta-container">
					<div class="cso-header__cta-events">
						<a href="#" class="q-link cso-header__cta-link">Events</a>
						<ul class="cso-header__cta-events--menu">
							<li>
								<a href="/agenda/washington-dc/">Oct 16, 2018 –  <span>Washington, DC</span></a>
							</li>
							<li>
								<a href="/agenda/florida/">Dec 10, 2018 –  <span>Florida</span></a>
							</li>
						</ul>
					</div>
					{{#block "cta-register"}}{{/block}}
				</div>
			</div>
		</div>
		<div class="cso-navigation-mobile">
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel--first">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button js-menu">close</button>
				</div>
				<div class="q-navigation-mobile-wrapper">
					<div class="cso-mobile-menu-wrapper">
						<h3 class="cso-mobile-men__header">Events</h3>
						<ul class="cso-mobile-menu__list">
							<li>
								<a href="/agenda/washington-dc/">Oct 16, 2018 –  <span>Washington, DC</span></a>
							</li>
							<li>
								<a href="/agenda/florida/">Dec 10, 2018 –  <span>Florida</span></a>
							</li>
						</ul>
						{{#block "cta-register-mobile"}}{{/block}}
					</div>
				</div>
			</div>
		</div>

		{{#block "content"}}{{/block}}

	</div><!-- .cso-site-container -->

	<div class="cso-footer">
		<div class="cso-footer-left">
			<div class="cso-footer-left__content">
				<h3>Want to get updates on future events?</h3>
				<form id="mktoForm_2446"></form>
			</div>
		</div>
		<div class="cso-footer-right">
			<div class="cso-footer-right__content">
				<div class="cso-footer-right__content-container">
					<h3 class="cso-footer__social-header">Follow us:</h3>
					<ul class="cso-footer__social-links">
						<li>
							<a href="https://twitter.com/qualys">
								<img src="/asset/image/twitter-icon.svg" />
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/company/qualys">
								<img src="/asset/image/linkedin-icon.svg" />
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/qualys">
								<img src="/asset/image/facebook-icon.svg" />
							</a>
						</li>
						<li>
							<a href="https://www.youtube.com/user/QualysGuard">
								<img src="/asset/image/youtube-icon.svg" />
							</a>
						</li>
					</ul>
					<ul class="cso-footer__useful-links">
						<li>
							<a href="#">Mission</a>
						</li>
						<li>
							<a href="https://www.qualys.com/company/events/">Events</a>
						</li>
						<li>
							<a href="https://www.qualys.com/company/newsroom/">Press</a>
						</li>
						<li>
							<a href="javascript:void(0)" class="js-cs-top">Back to top</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	{{#block "scripts"}}
		<!-- libraries -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha384-bPV3mA2eo3edoq56VzcPBmG1N1QVUfjYMxVIJPPzyFJyFZ8GFfN7Npt06Zr23qts" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/js/swiper.min.js" integrity="sha256-NCAKIW9CtzSpcjpTZ2RbtRfDHgNrQuK/akgMYogPwSw=" crossorigin="anonymous"></script>
		<script src="https://app-sj08.marketo.com/js/forms2/js/forms2.min.js"></script>
		<script src="/asset/script/common.js"></script>
	{{/block}}

</body>
</html>
